.footer {
  width: 100vw;
  height: 30px;
  padding: 5px;
  background: #000;
  color: #fff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 2;
}