.garbage-type {
  min-width: 35px;
  min-height: 35px;
  padding: 5px;
  margin: 5px;
  background: transparent;
  border: 3px solid #000;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  z-index: 2;
  cursor: pointer;
  &[type="tires"] {
    background: #000;
  }
  &[type="illegal"] {
    background: orange;
  }
  &[type="hazardous"] {
    background: red;
  }
  &[type="other"] {
    background: purple;
  }
}

@media(max-width: 360px) {
  .garbage-type {
    min-width: 30px;
    min-height: 30px;
    z-index: 33;
  }
}