.header {
  grid-column: 1;
  grid-row: 1 / 2;
  width: 100vw;
  height: 100%;
  background: #000;
  box-shadow: 0 5px 3px -2px gray;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 36;
  transition: all .4s ease-in-out;
}

.time {
  font-size: .8rem;
  color: #777;
}

@media(max-width: 648px) {
  .header {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 750px) {
  .time {
    display: none;
  }
}