.user-menu {
	width: 100%;
	height: 100%;
	margin: 3px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}
.user-info {
	width: 100%;
	padding: 0 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: .7em;
	line-height: 1.2em;
}
.user-profile__image {
	width: 50px;
	height: 50px;
	margin: 0 0 0 0;
	border-radius: 50%;
	box-shadow: 0 0 4px 1px;
	transition: all .4s .2s cubic-bezier(0,1.29,.41,1.49); 
}
.user-profile__name-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.user-profile__name {
	text-align: center;
	padding: 0 5px;
}
.user-profile__email {
	color: #999;
	font-weight: normal;
}
.logout-link {
	width: 40%;
	height: 28px;
	margin: 3px auto;
	font-size: .7em;
	display: inline-block;
	text-align: center;
	color: #ddd;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	border-radius: 10px;
}

@media(max-width: 360px) {
	.user-profile__image {
		width: 70px;
		height: 70px;
	}
	.user-profile__name {
		font-size: 1.1em;
		line-height: 1.7em;
	}
	.user-profile__email {
		font-size: 1.1em;
	}
  }