* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}
h1, h2, h3, h4 {
  margin-bottom: 10px;
}
.page {
  padding: 50px 15px;
}

.is-active {
  color: rgb(70, 155, 158);
}
