* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
}

.page {
  padding: 15px 15px;
  overflow-y: scroll;
  & h1 {
    text-align: center;
  }
}

.is-active {
  color: rgb(70, 155, 158);
}

.toggler {
  width: 7px;
  height: 7px;
  margin: 0 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  right: 0;
  bottom: 0;
  transform: rotate(45deg);
}

.hidden {
  height: 0;
  display: none;
  opacity: 0;
}

@media(max-width: 580px) {
  .page {
    padding: 40px 5px;
    overflow-y: scroll;
    & h1 {
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media(max-width: 460px) {
	html {
    overflow: hidden;
  }
}