* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
}

.page {
  padding: 50px 15px;
  overflow-y: scroll;
  & h1 {
    text-align: center;
  }
}

.is-active {
  color: rgb(70, 155, 158);
}

@media(max-width: 580px) {
  .page {
    padding: 40px 5px;
    overflow-y: scroll;
    & h1 {
      text-align: center;
      font-size: 1rem;
    }
  }
}